<a href="https://colab.research.google.com/github/Namrata-cse/Feature_selection_methods/blob/main/Featureselection_ChiSquared.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#libraries
import pandas as pd
import numpy as np

In [ ]:
#load data
data = pd.read_csv("diabetes.csv")

In [ ]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
data.shape

(768, 9)

In [ ]:
array = data.values
X = array[:,0:8]
Y = array[:,8]

In [ ]:
print(data)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [ ]:
#chi sqaured method(Filter method)

In [ ]:
#libraries
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [ ]:
# Feature extraction
test = SelectKBest(score_func=chi2, k=4)#test for non-negative features to select 4 of the best features from the dataset
fit = test.fit(X, Y)

In [ ]:
# Summarize scores
np.set_printoptions(precision=3)
print(fit.scores_)

[ 111.52  1411.887   17.605   53.108 2175.565  127.669    5.393  181.304]

In [ ]:
features = fit.transform(X)
# Summarize selected features
print(features[0:20,:])

[[148.    0.   33.6  50. ]
 [ 85.    0.   26.6  31. ]
 [183.    0.   23.3  32. ]
 [ 89.   94.   28.1  21. ]
 [137.  168.   43.1  33. ]
 [116.    0.   25.6  30. ]
 [ 78.   88.   31.   26. ]
 [115.    0.   35.3  29. ]
 [197.  543.   30.5  53. ]
 [125.    0.    0.   54. ]
 [110.    0.   37.6  30. ]
 [168.    0.   38.   34. ]
 [139.    0.   27.1  57. ]
 [189.  846.   30.1  59. ]
 [166.  175.   25.8  51. ]
 [100.    0.   30.   32. ]
 [118.  230.   45.8  31. ]
 [107.    0.   29.6  31. ]
 [103.   83.   43.3  33. ]
 [115.   96.   34.6  32. ]]

You can see the scores for each attribute and the 4 attributes chosen (those with the highest scores): Glucose, Insulin, BMI, and Age.